<header class="cd-header container flex justify-between items-center">
  <span>
  <a href="#0" class="cd-logo">
    <svg width="124" height="23" viewBox="0 0 124 23"><title>BARAK</title><img src="/public/barak logo/Barak_Black.jpg" alt="logo" style="width: 60px;" style="height: 60px;"></svg>
  </a>
</span>
<span class="container flex items-center myspan">
  <a href="#cd-3d-nav" class="cd-header__nav-trigger" aria-label="Toggle menu">
    <span aria-hidden="true"></span>
  </a>
  <div class="button_cont" align="center"><a class="example_a" href="add-website-here" target="_blank" rel="nofollow noopener">Log in</a></div>
  <div class="button_cont" align="center"><a class="example_a" href="add-website-here" target="_blank" rel="nofollow noopener">Sign in</a></div>
  </span>
</header>

<main class="cd-main">
  <!-- all your content here -->
  <div class="container max-width-xs">
    <div class="text-component text-center margin-top-xxl">
      <h1 class="text-xl">BARAK</h1>
      <p>👈 <a class="cd-article-link" href="https://codyhouse.co/gem/3d-rotating-navigation">Article &amp; Download</a></p>
    </div>
  </div>
</main>

<nav class="cd-3d-nav js-cd-3d-nav" id="cd-3d-nav">
  <ul class="cd-3d-nav__list">
    <li class="cd-3d-nav__item cd-3d-nav__item--selected toIncreaseSize">
      <a href="#0">
        <!-- <svg aria-hidden="true" class="icon icon--md"><g stroke="currentColor" stroke-width="2" fill="none"><path d="M12,6.6c1.2-0.5,2.6-0.8,4-0.8 c5.6,0,10.2,4.6,10.2,10.2"></path><path d="M5.8,16c0-1.4,0.3-2.8,0.8-4"></path><line x1="13.9" y1="13.9" x2="8.4" y2="8.4"></line> <circle cx="16" cy="16" r="15"></circle><circle cx="16" cy="16" r="3"></circle></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g class="iconcolor" fill="#495374"><path d="M26.875,10.75c-8.84221,0 -16.125,7.28279 -16.125,16.125v107.5c0,8.84221 7.28279,16.125 16.125,16.125h107.5c8.84221,0 16.125,-7.28279 16.125,-16.125v-107.5c0,-8.84221 -7.28279,-16.125 -16.125,-16.125zM26.875,21.5h107.5c3.02579,0 5.375,2.34921 5.375,5.375v107.5c0,3.02579 -2.34921,5.375 -5.375,5.375h-107.5c-3.02579,0 -5.375,-2.34921 -5.375,-5.375v-107.5c0,-3.02579 2.34921,-5.375 5.375,-5.375zM43,43v10.75h75.25v-10.75zM43,75.25v10.75h75.25v-10.75zM43,107.5v10.75h75.25v-10.75z"></path></g></g></svg>
        <span>Feed</span>
      </a>
    </li>

    <li class="cd-3d-nav__item toIncreaseSize">
      <a href="#0">
        <!-- <svg aria-hidden="true" class="icon icon--md"><g stroke="currentColor" stroke-width="2" fill="none"><polyline points=" 11,7 11,2 21,2 21,7 "></polyline> <polyline points="12,23 1,23 1,7 31,7 31,23 20,23 "></polyline> <polyline points="30,26 30,30 2,30 2,26 "></polyline><rect x="12" y="20" width="8" height="6"></rect></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g class="iconcolor" fill="#495374"><path d="M86,10.75c-23.68359,0 -43,19.31641 -43,43c0,15.36915 8.23047,28.80665 20.40821,36.40723c-24.43946,9.19629 -41.90821,32.75391 -41.90821,60.34277h10.75c0,-26.07715 18.43457,-47.70312 43,-52.6582v9.6582l10.75,10.75l10.75,-10.75v-9.6582c24.56543,4.95507 43,26.58105 43,52.6582h10.75c0,-27.58886 -17.46875,-51.14648 -41.9082,-60.34277c12.17773,-7.60058 20.4082,-21.03808 20.4082,-36.40723c0,-23.68359 -19.31641,-43 -43,-43zM86,118.25l-10.75,10.75v21.5h21.5v-21.5zM86,21.5c17.88868,0 32.25,14.36133 32.25,32.25c0,17.88868 -14.36132,32.25 -32.25,32.25c-17.88867,0 -32.25,-14.36132 -32.25,-32.25c0,-17.88867 14.36133,-32.25 32.25,-32.25z"></path></g></g></svg>
        <span>HMC</span>
      </a>
    </li>

    <li class="cd-3d-nav__item toIncreaseSize">
      <a href="#0">
        <!-- <svg aria-hidden="true" class="icon icon--md"><g stroke="currentColor" stroke-width="2" fill="none"><polyline points="14.858,21.142 22,14 31,22"></polyline><polyline points="1,25 10,17 18.501,24.249 "></polyline> <rect x="1" y="3" width="30" height="26"></rect><circle cx="14.5" cy="10.5" r="2.5"></circle></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g class="iconcolor" fill="#495374"><path d="M26.875,21.5c-8.86035,0 -16.125,7.26465 -16.125,16.125v96.75c0,8.86035 7.26465,16.125 16.125,16.125h118.25c8.86035,0 16.125,-7.26465 16.125,-16.125v-96.75c0,-8.86035 -7.26465,-16.125 -16.125,-16.125zM26.875,32.25h118.25c3.02344,0 5.375,2.35156 5.375,5.375v73.02442l-37.625,-37.625l-21.5,21.5l-32.25,-32.25l-37.625,37.625v-62.27442c0,-3.02344 2.35156,-5.375 5.375,-5.375zM129,43c-5.9209,0 -10.75,4.8291 -10.75,10.75c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.9209 -4.8291,-10.75 -10.75,-10.75zM59.125,77.47558l39.22071,39.22071l7.55859,-7.64258l-6.92872,-6.92871l13.89942,-13.89942l37.625,37.625v8.52442c0,3.02344 -2.35156,5.375 -5.375,5.375h-118.25c-3.02344,0 -5.375,-2.35156 -5.375,-5.375v-19.27442z"></path></g></g></svg>
        <span>Gallery</span>
      </a>
    </li>

    <li class="cd-3d-nav__item toIncreaseSize">
      <a href="#0">
        <!-- <svg aria-hidden="true" class="icon icon--md"><g stroke="currentColor" stroke-width="2" fill="none"><rect x="2" y="2" width="28" height="28"></rect><line x1="9" y1="18" x2="9" y2="6"></line><line x1="9" y1="26" x2="9" y2="22"></line><line x1="12" y1="22" x2="6" y2="22"></line><line x1="23" y1="18" x2="23" y2="6"></line><line x1="23" y1="26" x2="23" y2="22"></line><line x1="26" y1="22" x2="20" y2="22"></line><line x1="16" y1="26" x2="16" y2="14"></line><line x1="16" y1="10" x2="16" y2="6"></line><line x1="13" y1="10" x2="19" y2="10"></line></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g class="iconcolor" fill="#495374"><path d="M80.625,21.5c-15.77093,0 -30.12335,4.03902 -40.87939,10.81299c-10.75604,6.77397 -18.24561,16.69435 -18.24561,28.15576v5.03906c-6.22461,2.24112 -10.75,8.16343 -10.75,15.11719c0,4.12899 1.62689,7.88386 4.22021,10.75c-2.59332,2.86614 -4.22021,6.62101 -4.22021,10.75c0,6.95376 4.52539,12.87607 10.75,15.11719v6.38281c0,8.84221 7.28279,16.125 16.125,16.125h86c8.84221,0 16.125,-7.28279 16.125,-16.125v-6.38281c6.22462,-2.24112 10.75,-8.16343 10.75,-15.11719c0,-4.12899 -1.62689,-7.88386 -4.22021,-10.75c2.59332,-2.86614 4.22021,-6.62101 4.22021,-10.75c0,-6.95376 -4.52538,-12.87607 -10.75,-15.11719v-5.71094c0,-11.46141 -7.5431,-21.2663 -18.30859,-27.86182c-10.76549,-6.59552 -25.08571,-10.43506 -40.81641,-10.43506zM80.625,32.25c13.95006,0 26.50012,3.53681 35.18946,8.86035c8.68931,5.32354 13.18554,11.96969 13.18554,18.68652v4.70313h-96.75v-4.03125c0,-6.71684 4.52877,-13.58611 13.22754,-19.06445c8.69877,-5.47834 21.23764,-9.1543 35.14746,-9.1543zM26.875,75.25h107.12207h0.37793c3.02579,0 5.375,2.34921 5.375,5.375c0,3.02579 -2.34921,5.375 -5.375,5.375h-107.12207h-0.37793c-3.02579,0 -5.375,-2.34921 -5.375,-5.375c0,-3.02579 2.34921,-5.375 5.375,-5.375zM26.875,96.75h9.86816c-0.44097,0.07225 -0.87121,0.19921 -1.28076,0.37793c-0.33178,0.14278 -0.64832,0.31864 -0.94482,0.5249c-0.4384,0.3111 -0.82766,0.68621 -1.15479,1.11279c-0.21841,0.28142 -0.40831,0.58385 -0.56689,0.90283c-0.07848,0.1643 -0.14855,0.33249 -0.20996,0.50391c-0.06426,0.1651 -0.12032,0.33327 -0.16797,0.50391c-0.00001,0.007 -0.00001,0.014 0,0.021c-0.04302,0.1662 -0.07805,0.33436 -0.10498,0.50391c-0.03029,0.18077 -0.05131,0.36298 -0.06299,0.5459c-0.00443,0.12594 -0.00443,0.25199 0,0.37793c0,2.90619 -2.18675,5.13616 -5.03906,5.31201c-0.13965,-0.01247 -0.27973,-0.01948 -0.41992,-0.021c-0.08414,0.00502 -0.16814,0.01202 -0.25195,0.021c-2.85232,-0.17585 -5.03906,-2.40582 -5.03906,-5.31201c0,-3.02579 2.34921,-5.375 5.375,-5.375zM38.61182,96.75h19.63135c-0.14103,0.02241 -0.28112,0.05042 -0.41992,0.08398c-0.03506,0.00665 -0.07006,0.01365 -0.10498,0.021c-0.08466,0.02592 -0.16867,0.05392 -0.25195,0.08398c-0.12778,0.04422 -0.25385,0.09325 -0.37793,0.14697c-0.09921,0.03907 -0.19723,0.08108 -0.29395,0.12598c-0.02812,0.01375 -0.05611,0.02775 -0.08398,0.04199c-0.078,0.0401 -0.15501,0.08211 -0.23096,0.12598c-0.1071,0.05938 -0.21214,0.12241 -0.31494,0.18896c-0.04943,0.02722 -0.09843,0.05522 -0.14697,0.08398c-0.07138,0.05423 -0.14139,0.11024 -0.20996,0.16797c-0.07138,0.05423 -0.14139,0.11024 -0.20996,0.16797c-0.06454,0.06141 -0.12755,0.12442 -0.18896,0.18896c-0.06454,0.06141 -0.12755,0.12442 -0.18896,0.18896c-0.09461,0.09455 -0.18566,0.1926 -0.27295,0.29395c-0.02843,0.03464 -0.05643,0.06964 -0.08398,0.10498c-0.05094,0.07573 -0.09995,0.15274 -0.14697,0.23096c-0.06578,0.08902 -0.1288,0.18004 -0.18897,0.27295c-0.06744,0.11657 -0.13047,0.23563 -0.18896,0.35693c-0.03626,0.06228 -0.07126,0.12528 -0.10498,0.18896c-0.02216,0.06259 -0.04316,0.12559 -0.06299,0.18897c-0.05325,0.11718 -0.10227,0.23623 -0.14697,0.35693c-0.01469,0.04879 -0.02869,0.09779 -0.04199,0.14697c-0.03041,0.09022 -0.05841,0.18124 -0.08398,0.27295c-0.0149,0.05576 -0.0289,0.11176 -0.04199,0.16797c-0.01633,0.09061 -0.03033,0.18162 -0.04199,0.27295c-0.01896,0.13241 -0.03296,0.26547 -0.04199,0.39893c-0.0075,0.04191 -0.0145,0.0839 -0.021,0.12598c-0.00231,0.09097 -0.00231,0.18198 0,0.27295c-0.00034,0.03499 -0.00034,0.06999 0,0.10498c0,3.02579 -2.34921,5.375 -5.375,5.375c-3.02579,0 -5.375,-2.34921 -5.375,-5.375c0.00889,-0.71952 -0.12676,-1.43349 -0.39893,-2.09961c-0.20185,-0.50039 -0.4779,-0.96754 -0.81885,-1.38574c-0.33667,-0.41325 -0.73293,-0.77414 -1.17578,-1.0708c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.1425,-0.09802 -0.28964,-0.18911 -0.44092,-0.27295c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.15018,-0.08434 -0.30433,-0.16142 -0.46191,-0.23096c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.33154,-0.13912 -0.6762,-0.24463 -1.02881,-0.31494zM60.13281,96.75h19.61035c-0.14103,0.02241 -0.28112,0.05042 -0.41992,0.08398c-0.03506,0.00665 -0.07006,0.01365 -0.10498,0.021c-0.08466,0.02592 -0.16867,0.05392 -0.25195,0.08398c-0.12778,0.04422 -0.25385,0.09325 -0.37793,0.14697c-0.04216,0.01348 -0.08416,0.02748 -0.12598,0.04199c-0.08507,0.03978 -0.16908,0.08179 -0.25195,0.12598c-0.24054,0.11559 -0.47214,0.24894 -0.69287,0.39893c-0.07138,0.05423 -0.14139,0.11024 -0.20996,0.16797c-0.07138,0.05423 -0.14139,0.11024 -0.20996,0.16797c-0.06454,0.06141 -0.12755,0.12442 -0.18896,0.18896c-0.06454,0.06141 -0.12755,0.12442 -0.18896,0.18896c-0.09461,0.09455 -0.18566,0.1926 -0.27295,0.29395c-0.02843,0.03464 -0.05643,0.06964 -0.08398,0.10498c-0.05094,0.07573 -0.09995,0.15274 -0.14697,0.23096c-0.15631,0.21332 -0.29667,0.43789 -0.41992,0.67188c-0.03712,0.08308 -0.07212,0.16709 -0.10498,0.25195c-0.03712,0.08308 -0.07212,0.16709 -0.10498,0.25195c-0.03007,0.08328 -0.05807,0.16729 -0.08398,0.25195c-0.04768,0.1382 -0.08971,0.27829 -0.12598,0.41992c-0.02413,0.10433 -0.04513,0.20936 -0.06299,0.31494c-0.00022,0.02799 -0.00022,0.05599 0,0.08399c-0.01845,0.12544 -0.03246,0.2515 -0.04199,0.37793c-0.0075,0.04191 -0.0145,0.0839 -0.021,0.12598c-0.00231,0.09097 -0.00231,0.18198 0,0.27295c-0.00034,0.03499 -0.00034,0.06999 0,0.10498c0,3.02579 -2.34921,5.375 -5.375,5.375c-3.02579,0 -5.375,-2.34921 -5.375,-5.375c0.00226,-0.1822 -0.00475,-0.36441 -0.021,-0.5459c-0.12578,-1.44473 -0.82995,-2.77736 -1.95264,-3.69531c-0.14158,-0.11233 -0.28874,-0.21744 -0.44092,-0.31494c-0.29739,-0.199 -0.6139,-0.3678 -0.94482,-0.50391c-0.32479,-0.1378 -0.66235,-0.24329 -1.00781,-0.31494zM81.61182,96.75h19.63135c-1.70906,0.28016 -3.17846,1.36658 -3.94727,2.91846c-0.00001,0.007 -0.00001,0.014 0,0.021c-0.15808,0.31573 -0.28467,0.64626 -0.37793,0.98682c-0.00001,0.007 -0.00001,0.014 0,0.021c-0.04302,0.1662 -0.07805,0.33436 -0.10498,0.50391c-0.00001,0.007 -0.00001,0.014 0,0.021c-0.02959,0.17383 -0.05061,0.34901 -0.06299,0.5249c-0.00443,0.12594 -0.00443,0.25199 0,0.37793c0,3.02579 -2.34921,5.375 -5.375,5.375c-3.02579,0 -5.375,-2.34921 -5.375,-5.375c0.00889,-0.71952 -0.12676,-1.43349 -0.39893,-2.09961c-0.20185,-0.50039 -0.4779,-0.96754 -0.81885,-1.38574c-0.33667,-0.41325 -0.73293,-0.77414 -1.17578,-1.0708c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.1425,-0.09802 -0.28964,-0.18911 -0.44092,-0.27295c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.15018,-0.08434 -0.30433,-0.16142 -0.46191,-0.23096c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.33154,-0.13912 -0.6762,-0.24463 -1.02881,-0.31494zM103.11182,96.75h19.12744c-2.28303,0.6086 -3.9015,2.63594 -3.98926,4.99707c-0.00443,0.12594 -0.00443,0.25199 0,0.37793c0,3.02579 -2.34921,5.375 -5.375,5.375c-3.02579,0 -5.375,-2.34921 -5.375,-5.375c0.00226,-0.1822 -0.00475,-0.36441 -0.021,-0.5459c-0.14516,-1.63162 -1.02636,-3.10801 -2.39356,-4.01025c-0.1425,-0.09802 -0.28964,-0.18911 -0.44092,-0.27295c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.15018,-0.08434 -0.30433,-0.16142 -0.46191,-0.23096c-0.007,-0.00001 -0.014,-0.00001 -0.021,0c-0.33154,-0.13912 -0.6762,-0.24463 -1.02881,-0.31494zM125.01074,96.75h8.98633h0.37793c3.02579,0 5.375,2.34921 5.375,5.375c0,2.90619 -2.18674,5.13616 -5.03906,5.31201c-0.22374,-0.01401 -0.44814,-0.01401 -0.67187,0c-2.85232,-0.17585 -5.03906,-2.40582 -5.03906,-5.31201c0.08301,-2.50167 -1.57076,-4.72991 -3.98926,-5.375zM37.625,114.02979c2.86614,2.59332 6.62101,4.22021 10.75,4.22021c4.12899,0 7.88386,-1.62689 10.75,-4.22021c2.86614,2.59332 6.62101,4.22021 10.75,4.22021c4.12899,0 7.88386,-1.62689 10.75,-4.22021c2.86614,2.59332 6.62101,4.22021 10.75,4.22021c4.12899,0 7.88386,-1.62689 10.75,-4.22021c2.86614,2.59332 6.62101,4.22021 10.75,4.22021c4.12899,0 7.88387,-1.62689 10.75,-4.22021c1.55541,1.40736 3.37836,2.50084 5.375,3.2334v6.36182c0,3.02579 -2.34921,5.375 -5.375,5.375h-86c-3.02579,0 -5.375,-2.34921 -5.375,-5.375v-6.36182c1.99664,-0.73256 3.81959,-1.82604 5.375,-3.2334z"></path></g></g></svg>
        <span>Menu</span>
      </a>
    </li>

    <li class="cd-3d-nav__item toIncreaseSize">
      <a href="#0">
        <!-- <svg aria-hidden="true" class="icon icon--md"><g stroke="currentColor" stroke-width="2" fill="none"><polyline points="13 6 2 6 2 30 26 30 26 19"></polyline> <polygon points="16 20 10 22 12 16 26 2 30 6 16 20"></polygon><line x1="22" y1="6" x2="26" y2="10"></line></svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g class="iconcolor" fill="#495374"><path d="M86,14.33333c-39.49552,0 -71.66667,32.17115 -71.66667,71.66667c0,39.49552 32.17115,71.66667 71.66667,71.66667c39.49552,0 71.66667,-32.17115 71.66667,-71.66667c0,-39.49552 -32.17115,-71.66667 -71.66667,-71.66667zM86,28.66667c31.74921,0 57.33333,25.58412 57.33333,57.33333c0,28.77035 -21.03186,52.40996 -48.59896,56.60547v-39.51465h16.6849l2.61751,-16.95085h-19.30241v-9.26628c0,-7.04483 2.29501,-13.29752 8.88834,-13.29752h10.58203v-14.79525c-1.86333,-0.25083 -5.7957,-0.79785 -13.22754,-0.79785c-15.523,0 -24.62142,8.19867 -24.62142,26.875v11.2819h-15.95703v16.95085h15.95703v39.37467c-27.11871,-4.57277 -47.68913,-28.01213 -47.68913,-56.46549c0,-31.74921 25.58412,-57.33333 57.33333,-57.33333z"></path></g></g></svg>
        <span>Social Media</span>
      </a>
  </ul>

  <span class="cd-3d-nav__marker cd-3d-nav__marker--col-1" aria-hidden="true"></span>	
</nav>

